div{
    color: plum;
    font-size : 36px;
}
.next_color{
    color:royalblue;
    font-size : 12px;

}
.main-text{
    color : blue;
}
.box{
    margin : 20px;
    width: 200px;
    height: 300px;
    background:yellowgreen;
    color : whitesmoke;
    font-size: 40px;
    padding : 40px;
}